{% extends "base.html" %}

{% block content %}

<h1>Checkout 🛒</h1>

 <h2>Customer Details</h2>
 <h2>Order Summary</h2>

{% for item in cart_products %}
    <p>
        {{ item.product.name }}
        × {{ item.quantity }}
        = ₹{{ item.total }}
    </p>
{% endfor %}

<h3>Grand Total: ₹{{ grand_total }}</h3>

<hr>

<form method="POST">
    {% csrf_token %}

    <label>Name:</label>
    <input type="text" name="name" required>

    <br><br>

    <label>Address:</label>
    <textarea name="address" required></textarea>

    <br><br>

    <label>Phone:</label>
    <input type="text" name="phone" required>

    <br><br>

    <button type="submit">Place Order</button>
</form>    


{% endblock %}