{% extends "base.html" %}

{% block title %}
Home - ShopSphere
{% endblock %}

{% block content %}

<div class="container mt-5 hero">

    <div class="text-center">
        <h1>Welcome to ShopSphere 🛍️</h1>

        <p class="lead">
            Your one-stop online shopping destination
        </p>

        <a href="{% url 'products' %}" class="btn btn-primary">
            Shop Now
        </a>
    </div>

</div>

<h2 class="text-center mt-5">Featured Products 🛍️</h2>

<div class="product-grid">
    {% for product in products %}
        <div class="product-card">

            {% if product.image %}
                <img src="{{ product.image.url }}" alt="{{ product.name }}">
            {% endif %}

            <h3>{{ product.name }}</h3>

            <p>₹{{ product.price }}</p>

            <a href="{% url 'product_detail' product.id %}"
               class="btn btn-primary">
                View Product
            </a>
            <form action="{% url 'cart' %}" method="POST">
                {% csrf_token %}

                <input type="hidden" name="product_id" value="{{ product.id }}">
                <input type="hidden" name="action" value="add">

                <button type="submit" class="btn btn-success mt-2">
                    Add to Cart 🛒
                </button>
            </form>

        </div>
    {% endfor %}
</div>

{% endblock %}